<div class="row text-center">
    <div class="col">
{% for album in site.data.categories -%}
{% if album.uppercats[0] == page.category -%}
        <div class="card album">
            <div class="card-header">
                {{album.name}}
            </div>
            <div class="thumbnails" id="thumbnails">
            {% for image in site.data.images -%}
            {% if image.storage_category_id == album.id -%}
                <a href="{{site.cdn}}{{image.path}}{{image.file}}{{image.ext}}" title="{{image.comment}}"><img class="img-thumbnail" src="{{site.cdn}}/i{{image.path}}{{image.file}}-sq{{image.ext}}" alt="{{image.name}}" title="{{image.comment}}" loading=lazy></a>
            {% endif -%}
            {% endfor -%}
            </div>
            <div class="card-body">
                <p class="card-text">{{album.comment}}</p>
            </div>
        </div>
{% endif -%}
{% endfor -%}
    </div>
</div><!-- /.row -->