{% assign crumbs = page.url | remove:'/index.html' | split: '/' -%}
<nav class=" bg-light" id="crumbs">
    <div class="nav">
        <a class="nav-link" href="/">Gallery</a>
        {% for crumb in crumbs offset: 1 -%}
        {% if forloop.last -%}
            / {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
        {% else -%}
            / <a class="nav-link" href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
        {% endif -%}
        {% endfor -%}
    </div>
</nav>