{% assign crumbs = page.url | remove:'/index.html' | split: '/' -%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container" id="crumbs">
    <a href="/">Gallery</a>
    {% for crumb in crumbs offset: 1 -%}
    {% if forloop.last -%}
        / {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
    {% else -%}
        / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
    {% endif -%}
    {% endfor -%}
    </div>
</div>