---
layout: default
permalink: /fun/

title: "W116 Gallery"
subtitle: "Fun"
lead: "Photochops?"
---

<div class="row">
    <div class="col">
        <div id="album" class="album">
            {% include crumbs.html %}
            <div class="thumbnails" id="thumbnails">
            {% for image in site.data.images -%}
            {% if image.storage_category_id == 232 -%}
                <a href="{{site.cdn}}{{image.path}}{{image.file}}{{image.ext}}"><img class="img-thumbnail" src="{{site.cdn}}/i{{image.path}}{{image.file}}-sq{{image.ext}}" alt="{{image.name}}" title="{{image.comment}}" loading=lazy></a>
            {% endif -%}
            {% endfor -%}
            </div>
        </div>
    </div>
</div><!-- /.row -->